In [3]:
import pandas as pd

In [4]:
train = pd.read_csv('processed_train')
test = pd.read_csv('processed_test')

In [5]:
train = train.drop(columns=['elevation', 'eco_category', 'town', 'flat_type',
                                      'region','block',
                                    'subzone', 'street_name'])
test = test.drop(columns=['elevation', 'eco_category', 'town', 'flat_type',
                                      'region','block',
                                    'subzone', 'street_name'])

In [6]:
train = train[['planning_area', 'flat_model', 'storey_range', 'month',
       'floor_area_sqm', 'lease_commence_date', 'latitude', 'longitude', 'sg-primary-schools_nearestDistance/KM',
       'sg-primary-schools_lessHalfKMNum', 'sg-primary-schools_half2OneKMNum',
       'sg-primary-schools_one2ThreeKMNum',
       'sg-commerical-centres_nearestDistance/KM',
       'sg-commerical-centres_lessHalfKMNum',
       'sg-commerical-centres_half2OneKMNum',
       'sg-commerical-centres_one2ThreeKMNum',
       'sg-secondary-schools_nearestDistance/KM',
       'sg-secondary-schools_lessHalfKMNum',
       'sg-secondary-schools_half2OneKMNum',
       'sg-secondary-schools_one2ThreeKMNum',
       'sg-shopping-malls_nearestDistance/KM',
       'sg-shopping-malls_lessHalfKMNum', 'sg-shopping-malls_half2OneKMNum',
       'sg-shopping-malls_one2ThreeKMNum',
       'sg-train-stations_nearestDistance/KM',
       'sg-train-stations_lessHalfKMNum', 'sg-train-stations_half2OneKMNum',
       'sg-train-stations_one2ThreeKMNum',
       'sg-gov-markets-hawker-centres_nearestDistance/KM',
       'sg-gov-markets-hawker-centres_lessHalfKMNum',
       'sg-gov-markets-hawker-centres_half2OneKMNum',
       'sg-gov-markets-hawker-centres_one2ThreeKMNum', 'underadult', 'young',
       'mid', 'old', '1 room', '2 room', '3 room', '4 room', '5 room',
       'executive', 'multi generation',
       'resale_price']]
test = test[['planning_area', 'flat_model', 'storey_range', 'month',
       'floor_area_sqm', 'lease_commence_date', 'latitude', 'longitude', 'sg-primary-schools_nearestDistance/KM',
       'sg-primary-schools_lessHalfKMNum', 'sg-primary-schools_half2OneKMNum',
       'sg-primary-schools_one2ThreeKMNum',
       'sg-commerical-centres_nearestDistance/KM',
       'sg-commerical-centres_lessHalfKMNum',
       'sg-commerical-centres_half2OneKMNum',
       'sg-commerical-centres_one2ThreeKMNum',
       'sg-secondary-schools_nearestDistance/KM',
       'sg-secondary-schools_lessHalfKMNum',
       'sg-secondary-schools_half2OneKMNum',
       'sg-secondary-schools_one2ThreeKMNum',
       'sg-shopping-malls_nearestDistance/KM',
       'sg-shopping-malls_lessHalfKMNum', 'sg-shopping-malls_half2OneKMNum',
       'sg-shopping-malls_one2ThreeKMNum',
       'sg-train-stations_nearestDistance/KM',
       'sg-train-stations_lessHalfKMNum', 'sg-train-stations_half2OneKMNum',
       'sg-train-stations_one2ThreeKMNum',
       'sg-gov-markets-hawker-centres_nearestDistance/KM',
       'sg-gov-markets-hawker-centres_lessHalfKMNum',
       'sg-gov-markets-hawker-centres_half2OneKMNum',
       'sg-gov-markets-hawker-centres_one2ThreeKMNum', 'underadult', 'young',
       'mid', 'old', '1 room', '2 room', '3 room', '4 room', '5 room',
       'executive', 'multi generation']]

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431732 entries, 0 to 431731
Data columns (total 44 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   planning_area                                     431732 non-null  float64
 1   flat_model                                        431732 non-null  float64
 2   storey_range                                      431732 non-null  float64
 3   month                                             431732 non-null  int64
 4   floor_area_sqm                                    431732 non-null  float64
 5   lease_commence_date                               431732 non-null  int64
 6   latitude                                          431732 non-null  float64
 7   longitude                                         431732 non-null  float64
 8   sg-primary-schools_nearestDistance/KM             431732 non-null  float64
 9   sg-primary-schools_lessHalfKMNum                  431732 non-null  int64
 10  sg-primary-schools_half2OneKMNum                  431732 non-null  int64
 11  sg-primary-schools_one2ThreeKMNum                 431732 non-null  int64
 12  sg-commerical-centres_nearestDistance/KM          431732 non-null  float64
 13  sg-commerical-centres_lessHalfKMNum               431732 non-null  int64
 14  sg-commerical-centres_half2OneKMNum               431732 non-null  int64
 15  sg-commerical-centres_one2ThreeKMNum              431732 non-null  int64
 16  sg-secondary-schools_nearestDistance/KM           431732 non-null  float64
 17  sg-secondary-schools_lessHalfKMNum                431732 non-null  int64
 18  sg-secondary-schools_half2OneKMNum                431732 non-null  int64
 19  sg-secondary-schools_one2ThreeKMNum               431732 non-null  int64
 20  sg-shopping-malls_nearestDistance/KM              431732 non-null  float64
 21  sg-shopping-malls_lessHalfKMNum                   431732 non-null  int64
 22  sg-shopping-malls_half2OneKMNum                   431732 non-null  int64
 23  sg-shopping-malls_one2ThreeKMNum                  431732 non-null  int64
 24  sg-train-stations_nearestDistance/KM              431732 non-null  float64
 25  sg-train-stations_lessHalfKMNum                   431732 non-null  int64
 26  sg-train-stations_half2OneKMNum                   431732 non-null  int64
 27  sg-train-stations_one2ThreeKMNum                  431732 non-null  int64
 28  sg-gov-markets-hawker-centres_nearestDistance/KM  431732 non-null  float64
 29  sg-gov-markets-hawker-centres_lessHalfKMNum       431732 non-null  int64
 30  sg-gov-markets-hawker-centres_half2OneKMNum       431732 non-null  int64
 31  sg-gov-markets-hawker-centres_one2ThreeKMNum      431732 non-null  int64
 32  underadult                                        431732 non-null  int64
 33  young                                             431732 non-null  int64
 34  mid                                               431732 non-null  int64
 35  old                                               431732 non-null  int64
 36  1 room                                            431732 non-null  float64
 37  2 room                                            431732 non-null  float64
 38  3 room                                            431732 non-null  float64
 39  4 room                                            431732 non-null  float64
 40  5 room                                            431732 non-null  float64
 41  executive                                         431732 non-null  float64
 42  multi generation                                  431732 non-null  float64
 43  resale_price                                      431732 non-null  float64
dtypes: float64(20), int64(24)
memory usage: 144.9 MB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107934 entries, 0 to 107933
Data columns (total 43 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   planning_area                                     107934 non-null  float64
 1   flat_model                                        107934 non-null  float64
 2   storey_range                                      107934 non-null  float64
 3   month                                             107934 non-null  int64
 4   floor_area_sqm                                    107934 non-null  float64
 5   lease_commence_date                               107934 non-null  int64
 6   latitude                                          107934 non-null  float64
 7   longitude                                         107934 non-null  float64
 8   sg-primary-schools_nearestDistance/KM             107934 non-null  float64
 9   sg-primary-schools_lessHalfKMNum                  107934 non-null  int64
 10  sg-primary-schools_half2OneKMNum                  107934 non-null  int64
 11  sg-primary-schools_one2ThreeKMNum                 107934 non-null  int64
 12  sg-commerical-centres_nearestDistance/KM          107934 non-null  float64
 13  sg-commerical-centres_lessHalfKMNum               107934 non-null  int64
 14  sg-commerical-centres_half2OneKMNum               107934 non-null  int64
 15  sg-commerical-centres_one2ThreeKMNum              107934 non-null  int64
 16  sg-secondary-schools_nearestDistance/KM           107934 non-null  float64
 17  sg-secondary-schools_lessHalfKMNum                107934 non-null  int64
 18  sg-secondary-schools_half2OneKMNum                107934 non-null  int64
 19  sg-secondary-schools_one2ThreeKMNum               107934 non-null  int64
 20  sg-shopping-malls_nearestDistance/KM              107934 non-null  float64
 21  sg-shopping-malls_lessHalfKMNum                   107934 non-null  int64
 22  sg-shopping-malls_half2OneKMNum                   107934 non-null  int64
 23  sg-shopping-malls_one2ThreeKMNum                  107934 non-null  int64
 24  sg-train-stations_nearestDistance/KM              107934 non-null  float64
 25  sg-train-stations_lessHalfKMNum                   107934 non-null  int64
 26  sg-train-stations_half2OneKMNum                   107934 non-null  int64
 27  sg-train-stations_one2ThreeKMNum                  107934 non-null  int64
 28  sg-gov-markets-hawker-centres_nearestDistance/KM  107934 non-null  float64
 29  sg-gov-markets-hawker-centres_lessHalfKMNum       107934 non-null  int64
 30  sg-gov-markets-hawker-centres_half2OneKMNum       107934 non-null  int64
 31  sg-gov-markets-hawker-centres_one2ThreeKMNum      107934 non-null  int64
 32  underadult                                        107934 non-null  int64
 33  young                                             107934 non-null  int64
 34  mid                                               107934 non-null  int64
 35  old                                               107934 non-null  int64
 36  1 room                                            107934 non-null  float64
 37  2 room                                            107934 non-null  float64
 38  3 room                                            107934 non-null  float64
 39  4 room                                            107934 non-null  float64
 40  5 room                                            107934 non-null  float64
 41  executive                                         107934 non-null  float64
 42  multi generation                                  107934 non-null  float64
dtypes: float64(19), int64(24)
memory usage: 35.4 MB

In [10]:
train.to_csv('processed_train.csv', index=0)
test.to_csv('processed_test.csv', index=0)